<% layout('./common_templates/layout') %>
<div class="row">
    <div class="col-xs-12">
        <h1><%= title %></h1>
        <p>Users in <%= title %></p>
        <ol>
            <% visited_place.forEach(function(item){ %>
            <li><%= item.name %></li>
            <% }); %>
        </ol>
    </div>
</div>
