<% layout('./common_templates/layout') %>
<div class="row">
    <div class="col-xs-12">
        <h1><%= title %></h1>
        <p>Users in <%= title %></p>
        <ol>
            <% regd_users.forEach(function(user){ %>
            <li><%= user.username %></li>
            <% }); %>
        </ol>
    </div>
</div>
